#theatre{
width:90%;
}

.row{position:block;
  margin-bottom: 15px;
  text-align: center;
}

#submitButton {
  margin: 1%;
}

.seat {
  background-color: grey;
  opacity: 0.5;
  /*color: black;*/
  margin-left: 9px;
  width: 5%;
  display: inline-block;
  padding:2%;
  border-radius:10px;
  text-align: center;
}

/*//// FORM STYLE BELOW ////*/
form {
  padding: 1%;
  font-family: monospace;
}

input {
  display: block;
  padding: 1%;
  margin: 1%;
}

#submitButton {
  margin: 1%;
}

.taken {
  background-color: pink;
}

.open {
  background-color: gray;
}

.selected {
  background-color: gold;
}


#selectedSeat {
  font-weight: bold;
}

/*//// FORM STYLE END ////*/
