Body{
  background-image:url("background.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
  width:100%;
  Height:600px;
}

#theatre{
width:90%;
}

.row{position:block;
  margin-bottom: 15px;
  text-align: center;
}

#submitButton {
  margin: 1%;
}

.seat {
  background-color: #ffffff;
  opacity: 0.5;
  /*color: black;*/
  margin-left: 11px;
  width: 5%;
  display: inline-block;
  padding:2%;
  border-radius:10px;
  text-align: center;
}

/*//// FORM STYLE BELOW ////*/
form {
  padding: 1%;
  font-family: monospace;
}

input {
  display: block;
  padding: 1%;
  margin: 1%;
}

#submitButton {
  margin: 1%;
}

.taken {
  background-color: #827676;
}

.open {
  background-color: #f2f2f9;
}

.selected {
  background-color: #2a31f9;
}


#selectedSeat {
  font-weight: bold;
}

/*//// FORM STYLE END ////*/


/*new code - amanda - splash page etc*/

#page-one{width:100%;}

.fullscreen-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
    opacity: 1;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url(me.jpg) center center no-repeat;
       position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

    .fullscreen-bg__video {
        display: none;
    }}


#title{position:relative;
  display:block;
  padding:30px;
  font-size:100px;
  width:90%;
  margin-top:10%;
/*    margin-left:2%;*/
margin-left: auto;
margin-right: auto;
text-align: center;
color:white;
z-index: 2;
font-family: 'Russo One', sans-serif;
}

#hideButton {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    z-index: 2;
    position: relative;
    margin-left: 40%;

}




/*page2*/
 #page2{
  display: block;
  position: fixed;
  top:0;
  left:0;
    background-size:100%;
    width: 100%;
    height:1000px;
           /* height:500px;
}*/}

header{
font-family: 'Russo One', sans-serif;
}
