/*//// FORM STYLE BELOW ////*/
form {
  padding: 1%;
}

input {
  display: block;
  padding: 1%;
  margin: 1%;
}

#theatre{
width:90%;
}

.row{position:block;
  margin-bottom: 15px;
  text-align: center;
}

#submitButton {
  margin: 1%;
}

.seat {
  background-color: pink;
  color: black;
  margin-left: 9px;
  width: 5%;
  display: inline-block;
  padding:2%;
  border-radius:10px;
  text-align: center;
}
/*//// FORM STYLE END ////*/
